body, .App {
  font-family: 'Montserrat', sans-serif;
}

.montserrat-thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
.montserrat-extralight {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.montserrat-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.montserrat-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.montserrat-extrabold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.montserrat-black {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
.montserrat-italic {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
